/api_env/
corporate_portal/.env
staticfiles/
Frontend/
/corporate_portal/api_corporate/__pycache__
/corporate_portal/corporate_portal/__pycache__
/corporate_portal/main_system/__pycache__
/corporate_portal/api_corporate/migrations/__pycache__
/corporate_portal/main_system/migrations/__pycache__