asgiref>=3.7.2,<4
certifi
charset-normalizer
colorama
crispy-bootstrap5==2024.10
Django>=4.2,<5.0
django-appconf
django-crispy-forms==2.3
django-filter>=23.0,<24
django-select2>=8.0,<9
djangorestframework>=3.14,<3.15
djangorestframework_simplejwt>=5.3,<5.4
idna
iniconfig
mssql-django>=1.4,<1.6
packaging
pluggy
psycopg2-binary
Pygments
PyJWT
pyodbc
pypdf
pytest>=7.4,<8
python-decouple
python-dotenv
pytz
requests
six
sqlparse
tzdata
urllib3
whitenoise